body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* this is the first portion */
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding: 8px 8px 75px 8px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
    margin: 0;
    padding: 0;
  }
  
a {
    font-size: 12px;
    padding: 8px;
    text-decoration: none;
    color: #f9faf8;
  }

.aboutme {
    width: 500px;
    height: auto;
}

.infocard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #1f2937;
    padding: 30px;
}

#headshot {
    width: 200px;
    height: auto;
    flex-shrink: 0;
}

.sign {
    background-color: #3882f6;
    border: none;
    color: #f9faf8;
    padding: 8px;
    border-radius: 10px;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* second section here */

#grid {
    width: 175px;
    height: auto;
    border: solid 4px forestgreen;
    border-radius: 2px;
}

.body1 {
    padding: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #1f2937;
}


.photogrid {
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
    flex-wrap: wrap;
    color: #1f2937;
}

/* part 3 */

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}

.direct {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 10px;
    margin: 10px;
}

.steve {
    align-self: flex-end;
}

/* contact */

.final {
    padding: 20px 0px;
    margin: 40px 225px;
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    border-radius: 4px;
    min-width: 275px;
}

.buttonc {
    flex:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow {
    background-color: #3882f6;
    border: 1px solid;
    border-color: #f9faf8;
    color: #f9faf8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* footer */

.footer {
    flex: 0;
    background-color: #1f2937 ;
    color: #f9faf8;
    text-align: center;
    padding: 20px;
}